<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.views">
      	<category name="Byke" id="byke"></category>
      	<view
            name="Dependencies"
            icon="icons/byke.gif"
            category="byke"
            class="byke.views.BykeView"
            id="byke.views.BykeView">
  		</view>
   	</extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<view id="byke.views.BykeView" relative="org.eclipse.ui.views.ProblemView" relationship="stack"/>
   		</perspectiveExtension>
	</extension>
   	
   	<extension point="org.eclipse.ui.preferencePages">
    	<page class="byke.preferences.BykePreferencePage" id="byke.preferences.BykePreferencePage" name="Byke"/>
   	</extension>
   
   	<extension point="org.eclipse.core.runtime.preferences">
      	<initializer class="byke.preferences.PreferenceInitializer"/>
   	</extension>
   
   	<extension point="org.eclipse.ui.commands">     	
     	<command
            name="Show Dependencies"
            id="byke.popup.actions.ShowDependenciesAction"
            defaultHandler="byke.popup.handlers.ShowDependenciesHandler">
     	</command>
     	
		<command
            name="Export dependency analysis"
            id="byke.views.actions.ExportDependencyAnalysisAction"
            defaultHandler="byke.views.handlers.ExportDependencyAnalysisHandler">
     	</command>
   	</extension>
   	
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?before=additions">
          	<command
                 commandId="byke.popup.actions.ShowDependenciesAction"
                 icon="icons/byke.gif"
                 label="Show Dependencies">
                 
                 <visibleWhen>
                	<with variable="activeMenuSelection">
                    	<iterate>
                        	<adapt type="org.eclipse.jdt.core.IPackageFragment"></adapt>
                    	</iterate>
                	</with>
            	</visibleWhen>
          	</command>
		</menuContribution>
		
		<menuContribution locationURI="toolbar:byke.views.BykeView?after=additions">
          	<command
                 commandId="byke.views.actions.ExportDependencyAnalysisAction"
                 icon="icons/graph.jpg"
                 label="Export dependency analysis">
          	</command>
		</menuContribution>
	</extension>
   
</plugin>
