<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="byke"
   name="Byke Plug-in"
   version="0.2.0"
   provider-name="Klaus Wuestefeld and Rodrigo B. de Oliveira"
   class="byke.BykePlugin">

   <runtime>
      <library name="byke.jar">
         <export name="*"/>
      </library>
      <library name="lib/draw2d/org.eclipse.draw2d_3.2.1.v20060921.jar">
         <export name="*"/>
      </library>
   </runtime>


   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.jdt"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Byke"
            id="byke">
      </category>
      <view
            name="Dependencies"
            icon="icons/byke.gif"
            category="byke"
            class="byke.views.BykeView"
            id="byke.views.BykeView">
      </view>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
          <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
               <view id="byke.views.BykeView"
                    relative="org.eclipse.ui.views.ProblemView"
                    relationship="stack"/>
   </perspectiveExtension>
</extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="byke.preferences.BykePreferencePage"
            id="byke.preferences.BykePreferencePage"
            name="Byke"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="byke.preferences.PreferenceInitializer"/>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
   <objectContribution objectClass="org.eclipse.jdt.core.IPackageFragment" id="byke.ShowDependencies">
	<action label="Show Dependencies" class="byke.popup.actions.ShowDependenciesAction" menubarPath="additions" id="byke.ShowDependenciesAction" icon="icons/byke.gif">
	</action>
</objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="byke.toggleActive"
            targetID="byke.views.BykeView">
         <menu
               id="byke.toggleActiveMenu"
               label="Toggle"/>
         <action
               class="byke.views.actions.ToggleActiveAction"
               icon="icons/pause.gif"
               id="byke.toggleActiveAction"
               label="Toggle Active"
               style="toggle"
               toolbarPath="Toggle"
               tooltip="Pause diagram layout thread">
         </action>
      </viewContribution>
   </extension>
</plugin>
